<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Wine App</display-name>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!-- TODO Declare Metrics Servlets -->
    <servlet>
        <servlet-name>metrics-admin</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.AdminServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>healthCheckServlet</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.HealthCheckServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>pingServlet</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.PingServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>metricsServlet</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.MetricsServlet</servlet-class>
        <init-param>
            <param-name>MetricsServlet.showSamples</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>dumpServlet</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.ThreadDumpServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>metrics-admin</servlet-name>
        <url-pattern>/admin/metrics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>healthCheckServlet</servlet-name>
        <url-pattern>/admin/metrics/healthcheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pingServlet</servlet-name>
        <url-pattern>/admin/metrics/ping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>metricsServlet</servlet-name>
        <url-pattern>/admin/metrics/metrics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dumpServlet</servlet-name>
        <url-pattern>/admin/metrics/threads</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/root.xml</param-value>
    </context-param>

    <listener>
        <listener-class>fr.xebia.xke.metrics.web.MetricsAdminContextLoader</listener-class>
    </listener>

<!--    TODO Add Instrumented Filter -->
    <filter>
        <filter-name>metricsFilter</filter-name>
        <filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>metricsFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

</web-app>