<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Wine App</display-name>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!--
TODO Exercise 2 -  Declare Metrics Servlets :
 com.codahale.metrics.servlets.AdminServlet maps to /admin/metrics
 com.codahale.metrics.servlets.HealthCheckServlet maps to /admin/metrics/healthcheck
 com.codahale.metrics.servlets.PingServlet maps to /admin/metrics/ping
 com.codahale.metrics.servlets.MetricsServlet maps to /admin/metrics/metrics
 com.codahale.metrics.servlets.ThreadDumpServlet maps to /admin/metrics/threads
 -->
 <!--   <servlet>
        <servlet-name>metrics-admin</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.AdminServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
-->
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

<!--    <servlet-mapping>
        <servlet-name>metrics-admin</servlet-name>
        <url-pattern>/admin/metrics</url-pattern>
    </servlet-mapping>
-->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/root.xml</param-value>
    </context-param>

    <listener>
        <listener-class>fr.xebia.xke.metrics.web.MetricsAdminContextLoader</listener-class>
    </listener>

<!--    TODO  Exercise 2 - Add Instrumented Filter :
 com.codahale.metrics.servlet.InstrumentedFilter maps to /rest/*
 -->
</web-app>